*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
div{
    min-height: 100vh;
    min-width:100vw;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.big-image{
    background:url("./big.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.folder-image{
    background: url("./images/folder-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}